.roditelj{
    width: 100vw;
    height: 600px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dete{
    width: 250px;
    height: 250px;
    background-color: red;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

#id2{
    background-color: rgb(127, 138, 255);
    flex-shrink: 3;
}

#id2:hover{
    background-color: yellow;
}

p{
    color: blue;
    font-size: 23px;
}

p:hover{
    color: azure;
}